:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 1.8vw;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  background: 
    url('../images/Background/EDEN_HOMEPAGE_JULY_20_0005s_0003_cream-blob.png' ) content-box,
    url('../images/Background/EDEN_HOMEPAGE_JULY_20_0005s_0004_purple-blob.png') content-box,
    #A4D39C;    
    background-size: 
    100%, 
    90%;
    background-position-x: 
    5vw, 
    left;
    background-position-y: 
    10vh, 
    0vh;
    background-attachment: initial ;
    background-repeat: no-repeat;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  
}

#main.disable:after
{
    content: '';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:998;    background: #595b5c67;

}
div{
  height: fit-content
}



@media only screen and (max-width: 699px){
  .navBar{
    margin: '0 -10%'
  }
  #socialFooter{
    margin-top: 5%
  }
}

@media only screen and (max-width: 799px){

 
  .imageWrapper > div{
    height: 3vh
  }

  /* .rolling{
    transform: translate(0%, -60%)
  } */
} 
@media only screen and (min-width: 800px) and (max-width: 1499px){
html{
  background-size: 100%, 70%
}

.imageWrapper > div{
  height: 3vh
}


}

@media only screen and (min-width: 1500px){
  html{
    background-size: 100%, 70%
  }
  .imageWrapper > div{
    height: 10vh
  }
  #box1 {
    margin-top: 15vh
  }

  #box3 {
    margin-top: 10%
  }
  .copyText{
    align-self: center;
  }
  .smoking{
    width: 60vw
}
.rolling{
 width: max-content;
}

}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}


a {
  background-color: transparent;
  color: #F5F4ED;  
  font-weight: 500;
  height: min-content;
  text-decoration: none;

}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

img,
p {
  margin: 0;
  padding: 0;
  /* margin-bottom: var(--space-4); */
}

  .imageWrapper{
    margin: auto var(--size-gutter);
  }


footer{
  color: #F6F6EF;

}
.smoking{
  max-width: 60vw
}
.rolling{
  width: 50vw
}
#fname{
  color: rgba(0,0,0,.87);
  border-bottom-color: rgba(255, 255, 255, 0.42);
  font-weight: 600;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: uppercase;
  text-align: start;
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 16px 20px 0px;
  transition:all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
  background: rgb(62, 61, 59);
  height: 5vh;
  font-size: var(--font-sm);

}

  #fname:hover{
      border-bottom-color: rgb(62, 61, 59);
      background: rgb(73, 73, 72);
  }
  #fname:focus{
      border-color: #6200ee;
  }
#socialFooter > a > img{
  height: 4vw
}
.ageVerification{
  bottom: 0;
  position: absolute;
  /* height: -webkit-fit-content; */
  height: -moz-fit-content;
  height: fit-content;
  display: inline-grid;
  /* float: right; */
  top: 0;
  /* right: 0; */
  /* left: 0; */
  margin: auto;
  grid-template-rows: 60% 14% 10% 16%;
  grid-template-columns: 15% 68% 17%;
  z-index: 999;
}

.ageVerification > img {
  grid-column: 1/4;
}

#yesButton{
  grid-area: 2 / 2 / auto / auto;
  min-width: 0px;
  min-height: 0px;
  overflow: hidden;
  border-style: none;
  background-color: transparent;
}
#yesButton:active{
  background-color: rgba(146, 168, 175, 0.205);
}
#noButton{
  grid-area: 3 / 2 / auto / auto;
  min-width: 0px;
  height: auto;
  overflow: hidden;
  border-style: none;
  background-color: transparent;
}
#noButton:active{
  background-color: rgba(146, 168, 175, 0.205);
}